<div class="p-6 w-6/12 mx-auto">
  <div class="flex-col">
    <h1 class="text-lg">Login Form</h1>
    <hr class="my-4" />
    <form class="mt-5" [formGroup]="layoutForm">
      <div class="input-group mb-3">
        <label
          [ngClass]="
            (layoutForm.controls['email'].touched &&
              layoutForm.controls['email'].hasError('required')) ||
            (layoutForm.controls['email'].touched &&
              layoutForm.controls['email'].hasError('pattern'))
              ? 'label-input-error'
              : 'main-color'
          "
          class="text-sm px-3"
          name="email"
          id="email"
          >Email</label
        >

        <input
          [ngClass]="
            (layoutForm.controls['email'].touched &&
              layoutForm.controls['email'].hasError('required')) ||
            (layoutForm.controls['email'].touched &&
              layoutForm.controls['email'].hasError('pattern'))
              ? 'border-red-400 bg-red-100'
              : 'bg-blue-input'
          "
          type="text"
          id="email"
          name="email"
          (input)="inputEmail($event)"
          formControlName="email"
          required
          class="w-full rounded-xl h-12 px-3"
          placeholder="Masukkan email Anda"
          autocomplete="off"
        />
        <div
          *ngIf="
            layoutForm.controls['email'].touched &&
            layoutForm.controls['email'].hasError('pattern')
          "
        >
          <p class="label-input-error text-sm">Format email salah</p>
        </div>
      </div>

      <div class="input-group mb-3">
        <label
          [ngClass]="
            (layoutForm.controls['password'].touched &&
              layoutForm.controls['password'].hasError('required')) ||
            (layoutForm.controls['password'].touched &&
              layoutForm.controls['password'].hasError('minlength'))
              ? 'label-input-error'
              : 'main-color'
          "
          class="text-sm px-3"
          name="password"
          id="password"
          >Password</label
        >

        <input
          [ngClass]="
            (layoutForm.controls['password'].touched &&
              layoutForm.controls['password'].hasError('required')) ||
            (layoutForm.controls['password'].touched &&
              layoutForm.controls['password'].hasError('minlength'))
              ? 'border-red-400 bg-red-100'
              : 'bg-blue-input'
          "
          type="password"
          id="password"
          name="password"
          (input)="inputPassword($event)"
          formControlName="password"
          required
          minlength="8"
          class="w-full rounded-xl h-12 px-3"
          placeholder="Masukkan password Anda"
          autocomplete="off"
        />
        <div
          *ngIf="
            layoutForm.controls['password'].touched &&
            layoutForm.controls['password'].hasError('minlength')
          "
        >
          <p class="label-input-error text-sm">Password minimal 8 karakter</p>
        </div>
      </div>
    </form>

    <button
      [style.background]="
        !isFormEmail && !isFormPassword
          ? 'linear-gradient(95.21deg, #3692A7 6.86%, #6BB9CD 93.65%)'
          : '#AEAFB2'
      "
      [disabled]="!layoutForm.valid"
      class="shadow-lg text-center mt-4 w-full text-lg rounded-3xl text-white py-2 font-semibold"
      (click)="onLogin()"
    >
      Masuk
    </button>
  </div>
</div>
